<sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar
        class="inverted vertical"
        #sidebar
        [(isVisible)]="isVisible"
        [transition]="isMobile() ? 'overlay' : 'uncover'"
    >
        <a *ngFor="let item of items" class="item">{{item?.name}}</a>
    </sui-sidebar>
    <sui-sidebar-sibling (click)="isMobile() ? '' : sidebar.open()">
        <div class="ui basic segment">
            <button class="ui button" (click)="sidebar.open()">Open Sidebar</button>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>