<div class="note-modal-container">
    <div
        [class]="'ui vertical segment title ' + newNote.backgroundColor"
        contenteditable
        (input)="updateTitle($event)"
        [ngClass]="{
            empty: newNote.title.length == 0,
            inverted: notDefaultColor
        }"
    ></div>
    <div
    [class]="'ui vertical segment note ' + newNote.backgroundColor"
        contenteditable
        (input)="updateNote($event)"
        [ngClass]="{
            empty: newNote.noteContent.length == 0,
            inverted: notDefaultColor,
            color: newNote.backgroundColor
        }"
    ></div>
    
    <div
        [class]="'ui vertical segment toolbar ' + newNote.backgroundColor"
        [ngClass]="{
            inverted: notDefaultColor,
            color: newNote.backgroundColor
        }"
    >
        <div
            class="ui circular icon dropdown button"
            suiDropdown
            suiPopup
            popupText="Change Background"
        >
            <i class="ui tint icon"></i>
            <div class="menu" suiDropdownMenu>
                <div id="colors-menu">
                    <button class="ui basic circular icon button" (click)="removeBackground()"></button>
                    <button
                        *ngFor="let color of colors"
                        [class]="'ui circular icon button ' + color"
                        (click)="setBackgroundColor(color)"
                    ></button>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button
            [class]="'ui button ' + (newNote.backgroundColor == 'red' ? '' : 'red')"
                (click)="modal.deny(undefined)"
            >Cancel</button>
            <button
                [class]="'ui button ' + (newNote.backgroundColor == 'blue' ? 'black' : 'primary')"
            >Save</button>
        </div>
    </div>
    
</div>