.note-modal-container {
    $padding: 20px;

    .title, .note {
        &:focus {
            border: none;
            outline: none;
        }
    }

    .title {
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: $padding;
        overflow-x: auto;
        &.empty::after {
            content: "Title";
            position: absolute;
            left: $padding;
            top: $padding;
        }
    }

    .note {
        font-size: 16px;
        line-height: 1.8rem;
        padding: $padding;
        min-height: 200px;
        position: relative;
        &.empty::after {
            content: "Take a note...";
            position: absolute;
            left: $padding;
            top: $padding;
        }
    }

    .toolbar {
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
}

::ng-deep #colors-menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
}